/** Fonts import **/

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap"); /* Rubik: 400, 600 */
@font-face {
	font-family: Alien;
	src: url(../fonts/Alien.ttf) format("truetype")
}
@font-face {
	font-family: Alien2;
	src: url(../fonts/Alien2.ttf) format("truetype")
}