/* Les couleurs: 
#dc3545 (rouge) 
#198754(vert)
#ffc107(jaune)
#7952b3(violet)
#343a40(noir)
#f8f9fa(blanc) */

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap");

body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: #000;
	font-family: Rubik
}

.c {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	background: url(../images/saturn.jpg) center 0 no-repeat;
	background-size: 120%;
	color: #fff;
	z-index: -1
}

.c h1 {
	margin: 0;
	font-size: 120px;
}

.c h3 {
	margin: 0;
	opacity: 0.75;
	font-size: 60px;
}

.d {
	height: 100vh;
	margin-top: 100vh;
	background: linear-gradient(to bottom, transparent, #000 100%, #000 70%)
}

.container {
	background-color: #f8f9fa;
}

.full-card.container.row div{
	margin: 0 auto;
}